h1 {
    font-family: 'Playwrite AR', sans-serif; 
    color: rgb(6, 12, 12);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#icon-button {
    border: none ;
    background-color: rgb(68, 179, 28);
    font-weight: bold;  
    padding: 10px;
    border-radius: 10px; 
}

 .box{
    background-color: rgb(241, 238, 238);
    padding: 50px;
    border-radius: 40px;
 }

.button {
    color: rgb(233, 238, 238);
    background-color:rgb(168, 18, 18) ;
    border: none;
}